@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';

.main-heading {
    color: var(--purple-darker);
    font-family: var(--font-libreBaskerville);
    font-size: 35px;
    text-align: center;
}
