@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-libreBaskerville);
}

.info {
    margin: 100px auto;
}
.main-heading {
    color: var(--purple-darker);
    font-size: 100px;
    text-align: center;
}

.subheading {
    padding: 20px;
    border-bottom: 1px solid var(--gray-lighter);
    color: var(--purple-darkest);
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
