@import '../../assets/styles/font-sizes.css';
@import '../../assets/styles/colors.css';

.form {
    padding: 20px;
    border-bottom: 1px solid var(--gray-base);
    margin-bottom: 20px;
}
.mode-set {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-darkest);
    font-size: var(--font-size-xs);
}

.mode-set-text {
    margin-right: 10px;
}

.form-heading {
    color: var(--purple-darkest);
    font-size: var(--font-size-l);
    text-align: center;
}
