.button {
    border: 1px solid #9ca3c0;
    font-family: fantasy;
    color: blueviolet;
    margin: 15px;
    padding: 5px;
    border-radius: 15%;
    outline: none;
    display: block;
}
.button:hover {
    background: silver;
}