.input {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    font-size: 16px;
}
.button-set {
    display: flex;
    justify-content: center;
}

.label {
    padding: 5px 20px;
    color: var(--purple-darkest);
    font-size: 16px;
}
