.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.input {
    height: 45px;
    box-sizing: border-box;
    flex: 0 0 95%;
    padding: 0 20px;
    border: 1px solid var(--gray-lighter);
    border-radius: 4px;
    font-family: var(--font-libreBaskerville);
    font-size: 16px;
}

.form-field {
    border-color: rgba(135, 110, 215, 0.3);
    margin: 20px;
    border-radius: 4px;
}

.form-field legend {
    color: var(--purple-darker);
    font-family: var(--font-libreBaskerville);
}
