@import '../../../assets/styles/colors.css';
.button {
    padding: 3px;
    border: 0;
    margin: 0 3px;
    background: transparent;
    border-radius: 50%;
}
.delete {
    color: var(--notification-danger-lighter);
}
.delete:hover {
    color: var(--notification-danger);
}

.add {
    color: var(--purple-dark);
}

.add:hover {
    color: var(--purple-darker);
}

.close {
    color: var(--gray-darkest);
}

.close:hover {
    color: var(--purple-darkest);
}

.button:disabled,
.add:hover:disabled,
.delete:hover:disabled {
    color: var(--gray-base);
}
