@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';

.title {
    display: inline;
    margin-right: 5px;
    font-weight: bold;
}

.item {
    display: inline;
}

.tag {
    border: 0;
    margin: 0 4px;
    background: transparent;
    color: var(--purple-lighter);
    font-size: inherit;
}

.show-more {
    font-size: var(--font-size-xxs);
}
