@import '../../assets/styles/colors.css';

.title {
    display: inline;
    margin-right: 5px;
    font-size: 14px;
}

.item {
    display: inline;
    font-size: 14px;
}

.tag {
    border: 0;
    background: transparent;
    color: var(--purple-lighter);
    font-size: 14px;
    outline: none;
}

.show-more {
    font-size: 14px;
}
