@import '../../assets/styles/colors.css';

.dialog {
    position: absolute;
    z-index: 1041;
    top: 0;
    width: 98%;
    padding: 5px;
    border: 0;
    margin: auto;
    background: white;
    border-radius: 2%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: var(--purple-darker);
    transform: translateY(-150%);
    transition: transform 0.5s ease;
}

.open {
    top: 5%;
    transform: translateY(5%);
}
.close-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 760px) {
    .dialog {
        width: 60%;
    }
    .open {
        transform: translateY(10%);
    }
    .content {
        padding: 0 40px 40px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .dialog {
        animation: none;
    }
}
