@import '../../../assets/styles/colors.css';
@import '../../../assets/styles/fonts.css';
@import '../../../assets/styles/font-sizes.css';

.play-button {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    background: transparent;
    color: inherit;
    cursor: pointer;
}
.button-text {
    margin-right: 2px;
    font-family: var(--font-libreBaskerville);
    font-size: var(--font-size-xs);
    font-style: italic;
}
.play-button:hover {
    color: var(--purple-lighter);
}
.icon {
    vertical-align: bottom;
}
