@import '../../assets/styles/fonts.css';
@import '../../assets/styles/font-sizes.css';

.modal {
    margin: 20px auto;
    font-family: var(--font-libreBaskerville);
    text-align: center;
}

.button {
    margin: 0 10px;
}

.warning {
    font-size: var(--font-size-l);
}
