@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';
.main-heading {
    color: var(--purple-darker);
    font-family: var(--font-gayathry);
    text-transform: uppercase;
}
