@import "../../assets/styles/colors.css";
@import "../../assets/styles/fonts.css";
.main-heading {
    text-transform: uppercase;
    color: var(--purple-darker);
    font-family: var(--font-gayathry);
}