@import '../../assets//styles/colors.css';

.side-drawer {
    position: fixed;
    z-index: 3;
    top: 0;
    left: -70%;
    width: 70%;
    height: 100vh;
    background: var(--gray-super-light);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: transform 5s ease;
}

.open {
    transform: translateX(100%);
}
