@import '../../../assets/styles/colors.css';
@import '../../../assets/styles/fonts.css';
@import '../../../assets/styles/font-sizes.css';

.button {
    padding: 5px 20px;
    border: 1px solid var(--yellow-darker);
    background: var(--yellow-base);
    border-radius: 10%;
    box-shadow: 0 3px 0 var(--yellow-dark);
    color: var(--purple-base);
    cursor: pointer;
    font-family: var(--font-libreBaskerville);
}

.button:hover {
    border: 1px solid var(--yellow-lighter);
    background: var(--yellow-base);
    color: var(--purple-lighter);
}
.size-s {
    font-size: var(--font-size-xxs);
}
.size-m {
    font-size: var(--font-size-xs);
}
.size-l {
    font-size: var(--font-size-s);
}
.size-xl {
    font-size: var(--font-size-m);
}
