@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';

.search-form {
    display: flex;
    align-items: baseline;
    margin: 10px auto;
    font-size: 18px;
}
.search-input {
    width: 60%;
    margin-right: 10px;
    color: var(--purple-darker);
    font-family: var(--font-libreBaskerville);
}
