@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/font-sizes.css';

.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin: 10px auto;
    font-size: var(--font-size-s);
}
.search-input {
    flex: 0 0 98%;
    margin: 3% 1%;
    color: var(--purple-darker);
    font-family: var(--font-libreBaskerville);
}

@media (min-width: 760px) {
    .search-form {
        flex-wrap: nowrap;
    }
    .search-input {
        flex: 0 0 60%;
        margin-right: 10px;
    }
}
