@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';

.words-heading {
    padding: 15px;
    color: var(--gray-darkest);
    font-family: var(--font-libreBaskerville);
    font-size: 20px;
    text-align: center;
}
