@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';

.header {
  font-family: var(--font-kalam);
  height: 40px;
  background: var(--purple-darker);
  color: var(--yellow-base);
  margin-bottom: 40px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 14px;
}

.header_nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: 100%;
  width: 100%;
}

.header_nav-item {
  align-self: baseline;
  padding: 12px;
  margin: 0 15px;
}

.header_nav-item:hover {
  background: var(--purple-dark);
  color: (--yellow-lightest);
}
