@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';

.header {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background: var(--purple-darker);
    color: var(--yellow-base);
    font-family: var(--font-kalam);
    font-size: 14px;
    text-transform: uppercase;
}

.nav-items {
    display: none;
}

.burger-button {
    padding-left: 10px;
}

@media (min-width: 760px) {
    .burger-button {
        display: none;
    }
    .nav-items {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }

    .nav-item {
        align-self: center;
        padding: 4px;
        margin: 0 15px;
        border-radius: 4%;
    }

    .nav-item:hover {
        background: var(--purple-dark);
        color: var(--yellow-lightest);
    }
}

.items {
    padding: 9px;
    margin-right: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 30px;
}

.logo-icon {
    height: 16px;
    margin-left: 5px;
}

.active-link {
    padding: 9px;
    background: var(--purple-dark);
    color: var(--yellow-lightest);
}
.side-drawer-nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    color: var(--purple-darker);
    font-family: var(--font-kalam);
    font-size: 18px;
    text-transform: uppercase;
}
