.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    background: var(--gray-super-light);
    font-family: var(--font-libreBaskerville);
}

.catalog-header {
    border-top: 1px solid var(--gray-base);
    margin-top: 80px;
    text-align: center;
}

.catalog-heading {
    position: relative;
    top: -0.95rem;
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    background: var(--white);
    font-family: var(--font-libreBaskerville);
}

.catalog-item {
    margin: 2% 1%;
    background: white;

    /* background: var(--gray-lightest); */
}

.logo {
    width: 100%;
    margin-bottom: 4%;
}

.header {
    margin: 3% auto;
}
.game-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 3%;
}

.description {
    display: block;
    min-height: 80px;
    margin: 3% 0;
    color: var(--gray-darkest);
    font-size: 18px;
    text-align: center;
}

@media (min-width: 980px) {
    .catalog-item {
        flex: 0 0 30%;
        flex-wrap: nowrap;
    }
}
@media (min-width: 760px) and (max-width: 979px) {
    .catalog-item {
        flex: 0 0 48%;
    }
}
