@import '../../assets/styles/colors.css';
@import '../../assets/styles/font-sizes.css';

.input {
    display: flex;
    flex-direction: column-reverse;
    font-size: var(--font-size-xs);
}
.button-set {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.label {
    padding: 5px 20px;
    color: var(--purple-darkest);
    font-size: var(--font-size-xs);
}
