@import '../../assets/styles/colors.css';
@import '../../assets/styles/fonts.css';
@import '../../assets/styles/font-sizes.css';

.word {
    padding: 15px;
    border: 1px solid rgba(32, 7, 114, 0.2);
    margin: 10px 20px;
    border-radius: 3px;
    box-shadow: 0 3px 0 var(--gray-lightest);
    font-family: var(--font-libreBaskerville);
}

.word-header {
    display: flex;
    align-items: baseline;
}

.particle {
    margin: 0 10px;
    font-style: italic;
}

.text-icon {
    margin-right: 5px;
    color: var(--yellow-darker);
}
.name {
    color: var(--purple-darker);
    font-weight: bold;
}
.examples {
    font-family: var(--font-kalam);
}
.examples-title {
    font-size: var(--font-size-s);
}

.examples-list {
    padding: 0 10px;
    margin: 0 50px;
}

.examples-list-info {
    color: var(--purple-base);
    font-weight: bold;
}

.example-item {
    padding: 5px;
    color: var(--gray-darkest);
}

.def-list-item {
    display: flex;
    align-items: baseline;
}
.def-item {
    margin: 10px 0;
    line-height: 1.5rem;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.audio {
    color: var(--gray-darkest);
    font-size: var(--font-size-xs);
    font-style: italic;
}

.modal {
    margin: 20px auto;
    text-align: center;
}

.button-set {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.button {
    margin: 0 10px;
}
