@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0.25;
        transform: scale(0.75);
    }
}

.spinner-box {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
}

.pulse-container {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-between;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    animation: none;
    background-color: var(--purple-base);
    border-radius: 50%;
}

.pulse-bubble1 {
    animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble2 {
    animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble3 {
    animation: pulse 0.4s ease 0.4s infinite alternate;
}
.alt-text {
    position: absolute;
    z-index: 0;
    top: 40%;
    color: var(--purple-base);
    font-family: var(--font-libreBaskerville);
    font-size: var(--font-size-m);
    opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
    .pulse-container {
        display: none;
    }
    .pulse-bubble1 {
        animation: none;
    }
    .pulse-bubble2 {
        animation: none;
    }
    .pulse-bubble3 {
        animation: none;
    }
    .alt-text {
        opacity: 1;
    }
}
