.button {
    padding: 5px 20px;
    border-radius: 10%;
    font-family: var(--font-libreBaskerville);
    transition: background-color 0.5s ease;
}

.red {
    border: 1px solid var(--notification-danger);
    background: var(--notification-danger);
    box-shadow: 0 3px 0 var(--gray-base);
    color: var(--white);
}

.red:hover {
    background: var(--notification-danger-dark);
}

.yellow {
    border: 1px solid var(--yellow-darker);
    background: var(--yellow-base);
    box-shadow: 0 3px 0 var(--yellow-dark);
    color: var(--purple-base);
}

.yellow:hover {
    background: var(--yellow-lighter);
    color: var(--purple-lighter);
}

.button:disabled,
.button:hover:disabled {
    border: 0;
    background: var(--gray-lighter);
    color: var(--purple-darkest);
    cursor: not-allowed;
}

.purple {
    border: 0;
    background: var(--purple-base);
    color: white;
    font-weight: bold;
}

.purple:hover {
    background: var(--purple-darker);
}

.login {
    padding: 8px 20px;
    border: 2px solid var(--yellow-lighter);
    background: var(--yellow-lightest);
    border-radius: 2.3em;
    color: var(--purple-darker);
    font-weight: bold;
}

.login:hover {
    background: var(--yellow-base);
}

.size-s {
    padding: 5px 15px;
    font-size: var(--font-size-xxs);
}
.size-m {
    font-size: var(--font-size-xs);
}
.size-l {
    font-size: var(--font-size-s);
}
.size-x-l {
    padding: 7px 30px;
    font-size: var(--font-size-m);
}
