@import './assets/styles/colors.css';
@import './assets/styles/fonts.css';
@import './assets/styles/font-sizes.css';

/* general styles */
ul {
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

button,
summary {
    cursor: pointer;
    outline-color: var(--yellow-base);
}

input {
    outline-color: var(--yellow-base);
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
