.error {
    padding-top: 20px;
    color: var(--notification-danger);
    text-align: center;
    font-size: var(--font-size-m);
}

.main-heading {
    color: var(--purple-darker);
    font-family: var(--font-libreBaskerville);
    font-size: var(--font-size-l);
    text-align: center;
}

.subheading {
    padding: 15px;
    color: var(--gray-darkest);
    font-family: var(--font-libreBaskerville);
    font-size: var(--font-size-s);
    text-align: center;
}

.container {
    margin: 20px 5px;
}

.button-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.button-set > button {
    margin: 0 10px;
}

/* .button-set:last-child {
    margin: 0;
} */

@media (min-width: 760px) {
    .container {
        margin: 20px 40px;
    }

    .main-heading {
        font-size: var(--font-size-xl);
    }
    .subheading {
    font-size: var(--font-size-m);
    }
}
