@import './colors.css';
@import './fonts.css';
@import './font-sizes.css';

.error {
    padding-top: 20px;
    color: var(--notification-danger);
    text-align: center;
    font-size: var(--font-size-m);
}

.subheading {
    padding: 15px;
    color: var(--gray-darkest);
    font-family: var(--font-libreBaskerville);
    font-size: var(--font-size-m);
    text-align: center;
}

.container {
    margin: 20px 5px;
}

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

@media (min-width: 760px) {
    .container {
        margin: 20px 40px;
    }
}
