@import '../../assets/styles/colors.css';

.label {
    width: 100%;
    color: var(--gray-darker);
    font-size: 0.7em;
    text-align: center;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 40px;
    border: 1px solid rgba(135, 110, 215, 0.32);
    margin: auto;
    border-radius: 6px;
    color: var(--gray-darkest);
    color: inherit;
    font-family: inherit;
    font-size: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input::placeholder {
    color: var(--yellow-darker);
    opacity: 0.6;
}
.input:focus {
    border-bottom: 1px solid rgba(57, 20, 175, 0.7);
    background: transparent;
    outline: none;
}
.error {
    border: 1px solid var(--notification-danger-lighter);
    color: var(--notification-danger);
    visibility: visible;
}
.error-text {
    width: 100%;
    color: var(--notification-danger);
    opacity: 0;
    text-align: center;
    transition: opacity 1s ease;
}
.error-text-active {
    opacity: 1;
}

.valid {
    background: url(../../assets/img/svg/check.svg);
    background-position: 12px;
    background-repeat: no-repeat;
    background-size: 20px;
}
